<div id="popup_fullDetailed" class="popupModal popup-display">
  <div class="popupBoxWrapper">
    <div class="popupBoxContent">
      <button class="full_close_button">Close</button>
      <h1>THIS IS A POPUP</h1>
    </div>
  </div>
</div>
