<div id="popup_fullDetailed" class="popupModal popup-display">
  <div class="popupBoxWrapper">
    <div class="popupBoxContent content">
      <div class="row">
        <div class="close_Wrap col-12">
      <button class="full_close_button">Close</button>
        </div>
      </div>
    </div>
    <div class="comment_wrap resource_minimal_single container">
      <div class="row comm_title_wrap">
        <div class="col-10">
          <h3>Comments</h3>
        </div>
        <div class="comment_add_button col-2">
          <button>Add</button>
        </div>
      </div>
      <div class="row comm_add_new">
        <div class="alert alert-warning" role="alert">Test Error
          </div>
        <div class="col-12">
          <form class="addComment-form">
            <textarea name="text"></textarea>
            <input type="submit" value="Add Comment">
          </form>
        </div>
      </div>
      <div class="comments_wrap">
        <!-- <div class="comment_single ">
          <div class="row">
            <div class="col-8">
              <h4>username</h4>
            </div>
            <div class="comment_single_date col-4">
              <p><span class="comm_date">2018-04-22</span> <button><i class="fas fa-edit"></i></button><button><i class="fas fa-trash-alt"></i></button></p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut dictum magna. Mauris condimentum, justo non placerat suscipit, purus risus porta diam, id laoreet augue mi eu risus. Cras eu dolor efficitur, suscipit lorem quis, ultrices ligula. Phasellus nisl orci, dignissim in diam vel, euismod ullamcorper ligula. Etiam faucibus sem tincidunt, sagittis enim vitae, malesuada erat. Nullam blandit in turpis in venenatis. Cras ac quam sollicitudin, molestie massa nec, porta enim. Maecenas nec orci ante.</p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
