<div id="popup_login" class="popupModal popup-display">
  <div class="popupBoxWrapper">
    <div class="popupBoxContent">
      <h3 class="login-button">Login</h3>
      <button class="login_close_button">Close</button>
      <div class="alert alert-warning" role="alert">Test Error
        </div>
      <form class="login-form">
          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username">
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password">
          <input class="submit_button" type="submit" value="Login">
      </form>
    </div>
  </div>
</div>
