<div id="popup_profile" class="popupModal popup-display">
  <div class="popupBoxWrapper">
    <div class="popupBoxContent">
      <h3 class="register-button">Profile</h3>
      <button class="prof_close_button">Close</button>
      <form class="register-form">
          <label for="first_name"><b>First Name</b></label>
          <input type="text" placeholder="Enter First Name" name="first_name">
          <label for="last_name"><b>Last Name</b></label>
          <input type="text" placeholder="Enter Last Name" name="last_name">
          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username">
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email">
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password">
          <label for="avatar"><b>Avatar URL</b></label>
          <input type="text" placeholder="Enter Avatar URL" name="avatar">
          <input class="submit_button" type="submit" value="Register">
      </form>
    </div>
  </div>
</div>
