<section class='search'>
  <form class='search-form'>
    <div>
      <input type="text" name="search" />
    </div>
    <input class="submit_button" type="submit" value="Search"/>
  </form>
</section>
