<section class='search'>
  <form class='search-form row'>
    <div class="col-10">
      <input type="text" name="search" />
    </div>
    <div class="col-2">
    <input class="submit_button button_main" type="submit" value="Search"/>
    </div>
  </form>
</section>
