<% include partials/_header %>
<!-- Page Content -->
    <div id="page-content-wrapper" class="col-10">
        <section class="main-header">
          <h1>Welcome To The Wall.</h1>
          <p>The wall is your premier place to organize all of your resources to help you prepare to defend the Seven Kingdoms.</p>
        </section>

        <section class="main_section_wrap">
          <div class="resource_mininmal_single">
            <!-- CLICK THIS TO SHOW BIG -->
            <h3>Lighthouse Labs</h3>
            <a href="https://www.lighthouselabs.ca/">Lighthouse Labs</a>
            <p>Whether it’s a full-time bootcamp or a part-time program, Lighthouse Labs offers coding education from newbie to professional developer. With the support of a brilliant team of instructors and mentors, you’ll be ready to translate concepts, breakdown problems, and continue learning on the job.</p>
            <h4>Category</h4>
            <p>Schools</p>
          </div>
        </section>
    </div> <!-- /#page-content-wrapper -->
  </div><!-- row -->
</div> <!-- /#wrapper -->

<% include partials/_footer %>
