<% include partials/_header %>
<!-- Page Content -->
    <div id="page-content-wrapper" class="col-10">
        <% include partials/_searchForm %>
        <section class="main_section_wrap row">
        </section>
    </div> <!-- /#page-content-wrapper -->
  </div><!-- row -->
</div> <!-- /#wrapper -->

<% include partials/_footer %>
