<% include partials/_header %>

<!-- HIDDEN FORM INCLUDES -->
<% include partials/_registerForm %>
<% include partials/_profileForm %>
<% include partials/_loginForm %>
<!-- END HIDDEN FORM INCLUDES -->

  <div id="wrapper" class="toggled container-fluid">
      <!-- Sidebar -->
    <div class="row">
      <div id="sidebar-wrapper" class="col-2 collapse navbar-collapse show">
        <!-- A vertical navbar -->
        <nav class="navbar bg-light">
          <a class="navbar-brand" href="#">The Wall</a>
          <!-- COMMENTED OUT FOR USE LATER -->
           <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button> -->

          <!-- Links -->
          <div class="" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a id="login_button" class="nav-link" href="#">Login</a>
              </li>
              <li class="nav-item">
                <a id="register_button" class="nav-link" href="#">Register</a>
              </li>
              <li class="nav-item">
                <a id="profile_button" class="nav-link" href="#">Profile</a>
              </li>
              <li class="nav-item">
                  <a id="logout_button" class="nav-link" href="#">Logout</a>
              </li>
            </ul>
          </div>
</nav>
</div> <!-- /#sidebar-wrapper -->
<!-- Page Content -->
    <div id="page-content-wrapper" class="col-10">
        <section class="main-header">
          <h1>Welcome To The Wall.</h1>
          <p>The wall is your premier place to organize all of your resources to help you prepare to defend the Seven Kingdoms.</p>
        </section>
      </div> <!-- /#page-content-wrapper -->
    </div><!-- row -->
  </div> <!-- /#wrapper -->

<% include partials/_footer %>
