

  /* ************* */
  /* GLOBAL STYLES */
  /* ************* */

  @import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,500,600,700,900');
  @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

  $h3Font: 'Roboto', sans-serif;
  $headerFont: 'Cinzel Decorative', cursive;

  h1, h2, h3, h4, h5, h6 {
    font-family: $headerFont;
  }

  h1 {
    color: #000000;
  }

  .showElement {
    display:block;
  }
  .hideElement, .no-display {
    display:none;
  }

  #wrapper {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height:100vh;
  }

  #sidebar-wrapper {
    width: 0;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height:100vh;
    border-right:2px solid #000;
    background-image: url('../images/darkmetal.jpg');
  }

  #navbarSupportedContent {
    width:100%;
  }

  #page-content-wrapper {
    height:100vh;
  }

  /* Sidebar Styles */
  .sidebar-nav {
    list-style: none;
    width:100%;
    .avatar_wrap {
      overflow:hidden;
      border-radius: 50%;
    }

    img.avatar {
      margin-bottom:10px;
      height:200px;
      width:200px;
    }
  }

  .sidebar-nav li {
    line-height: 40px;
    margin:5px 0px;
  }

  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000;
    background-image: url('../images/snow.jpg');
    text-align:center;
  }

  .sidebar-nav li a:hover {
    text-decoration: none;
    color: #007bff;
  }

  .sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
  }

  .sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
  }

  .sidebar-nav>.sidebar-brand a {
    color: #999999;
  }

  .sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
  }

  /* ******************* */
  /* Main Section Styles */
  /* ******************* */
  .main_section_wrap {

    .clicked {
      color:red; // rgb(235, 108, 129);
      ;
    }

  }
  #page-content-wrapper {
    background-color:#fff;
    padding-top:25px;

    .main_header {
      padding:25px;
      margin-bottom:50px;

      h1 {
        font-size:75px;
        text-align:center;
        color: #fff;
        font-weight: bold;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
      }
      p {
        text-align:center;
      }
    }
  }

  #popup_addRes, #popup_register, #popup_profile, #popup_login, #popup_fullDetailed {
    display:none;
    top: 0;
   left: 0;
   position: fixed;
   width: 100vw;
   height: 120vh;
   background-color: rgba(0,0,0,0.4);
   z-index:1000;

    .popupBoxWrapper {
      width:25%;
      margin:20px auto;
      background-color:#ffffff;
      padding:50px;

      .alert {
        display:none;
      }

      label {
        color:#000000;
        margin-bottom:0px;
        margin-top:5px;
      }

      input {
        width:100%;
      }

      input.submit_button {
        margin-top:5px;
      }
    }
  }
  #popup_fullDetailed > .popupBoxWrapper {
    width:50%;
  }

  #popup_fullDetailed {
    overflow:auto;
    padding-bottom:170px;

    .comment_wrap {
      margin-top:20px;
      .comment_add_button {
        text-align:right;
      }
      .comm_add_new {
        display:none;
        margin-bottom: 10px;
        textarea {
          width: 100%;
          resize: none;
        }
      }
      .comm_title_wrap {
        border-bottom:1px solid #000000;
        margin: 0px 0px 10px 0px;

        div.col-10 {
          padding-left:0px;
        }
        div.col-2 {
          padding-right:0px;
        }
      }
      .comment_single {
        border-bottom:1px solid #e6e6e6;
        margin:5px 0px;

        .comment_single_date {
          text-align:right;

          .comm_date {
            margin-right:5px;
          }
        }
      }
    }


  }

  .resource_minimal_single {
    background-color:#fff;
    padding:20px;
    border: 1px solid #e6e6e6;
    -webkit-box-shadow: 2px 2px 5px 2px rgba(230,230,230,0.85);
    -moz-box-shadow: 2px 2px 5px 2px rgba(230,230,230,0.85);
    box-shadow: 2px 2px 5px 2px rgba(230,230,230,0.85);

    .resource_min_top_wrap {
      overflow-wrap: break-word;
    }

    h3, h4 {
      font-family: $h3Font;
      font-weight:500;
      text-transform:uppercase;
    }

    a {
      display:block;
      margin-bottom:10px;
    }
    a.resFullLink:hover {
      cursor: pointer;
    }
    p {
      font-size:0.9em;
    }

    .resource_minimal_social_wrap {
      font-size: 0.8em;
    }


  }
